


<div class="container signup">
  <div class="row">
    <div class="span6 offset3">
      <h1 class="brand-title">Thanks!</h1>
      <p class="highlight">HUGO should be texting you shortly.</p>
    </div><!-- .span6 -->
  </div><!-- .row -->
</div><!-- .container --> 


