<div class="container signup">
	<div class="row">
		<div class="span6 offset3">
			<h1 class="brand-title">HUGO.</h1>
			<p class="highlight">HUGO is here you when you need him- just text him.</p>
			<form class="goodtogo">
				<fieldset>
					<input type="text" placeholder="Your Name" class="span6 goodtogo1">
					<input type="tel" placeholder="(###) ###-####" class="span6 goodtogo2">
					<div class="row">
						<button class="btn btn-primary span6">Use HUGO.</button>
					</div><!-- .row -->
				</fieldset>
			</form>
		</div><!-- .span6 -->
	</div><!-- .row -->
</div><!-- .container -->	


